{% extends "base.html" %}
{% block content %}


<form action="/" method="post">
    <label>
        Username
        <input type ="text" name="name" value="{{user_name}}" /><span class='error'> {{name_error}}</span>
    </label>
    

    <br>
    <label>
        Password
        <input type ="password" name="password" /><span class='error'> {{pass_error}}</span>
    </label>
    <br>
    <label>
        Verify Password
        <input type="password" name="verify_password" /><span class='error'> {{ver_error}}</span>
    </label>
    <br>
    <label>
        E-mail
        <input type="email" name="email" value="{{email_addy}}" /><span class='error'> {{mail_error}}</span>
    </label>
    <br>
    <input type="submit" value="Submit" />
</form>

{% endblock %}